<h3>It's always</h3>
<h1>Good Hair Day</h1>

<% if !logged_in? %>
  <%= link_to "Log In", login_path%><br>
  <%= link_to "Signup", signup_path%><br>
<% else %>
  <h3> Hi <%= link_to "#{current_user.username.capitalize}'s", user_path(current_user) %>!<h3>
<% end %>

<h5>What products are you looking for?</h5>
<%= link_to "I wan to see it all", products_path%>
<% Category.all.map do |f| %><br>
  <%= link_to f.name.titleize, f %>
<% end %>
