<br>
<%= image_tag("Logo_inline.png", :alt => "Good Hair Day Logo", class:"logo_inline")%>
<br>
<h5><%= @user.username.capitalize %></h5><br>
<p><%= @user.hair_texture %> | <%= @user.hair_structure %> | <%= @user.scalp_moist %><br>
<% if session[:user_id] == @user.id %>
<%= link_to "Edit profile", edit_user_path(current_user)%>
</p>

<br>
<%= link_to "New Review", new_review_path, class:"buttons" %>
<% end %>
<br>
<h4>My Product Reviews:</h4>
<% Review.all.map do |f| %>
  <% if f.user_id == @user.id %>
    <ul>○<%= link_to "#{f.product.name} - #{f.product.category.name}", f%></ul>
  <% end %>
<%end%>
