<br>
<img src='logo.jpg'>
<br>
<h4><%= @product.name.titleize %> </h4>
<% @product.reviews.map do |f| %>
  <ul>
    -<br>
    <strong><%= f.user.username.capitalize%></strong><br>
    <strong><%= @product.brand %> | <%= @product.category.name %></strong><br>
    <strong>Animal tested:  </strong><%= f.animal_tested %><br>
    <strong>Country of origin:  </strong><%= f.country_of_origin %><br>
    <strong>Silicone Free:  </strong><%= f.silicone %><br>
    <strong>Sulfate Free:  </strong><%= f.sulfate %><br>
    <strong>Rating:  </strong><%= f.rating %><br>
    <strong>Comment:  </strong><br><%= f.comment %><br>
    <br>
  </ul>
<% end %>
