<h1>New Review</h1>
<ul>
<%= form_for (@review) do |f| %>

  <%= f.fields_for :product do |o| %>
    <%= o.label :product_name %>
    <%= o.text_field :name %><br>
    <br>
    <%= o.label :brand %>
    <%= o.text_field :brand %><br>
    <br>
    <%= o.label :category_id %>
    <%= o.collection_select(:category_id, Category.all, :id, :name) %><br>
    <% end %>
  <br>
  <%= render partial: "form", locals: {review: @review}%>
<% end %>
</ul>
