<!DOCTYPE html>
<html>
  <head>
    <title>GoodHairDay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="">
        <%= link_to "Home", root_path %>
        <% if !!current_user %>
        <%= link_to "#{current_user.username}'s profile", user_path(current_user), class: "" %>
        <%= link_to "Log Out", logout_path, class:"navbar-brand", method: :delete %>
        <% end %>
        <%= yield %>
      </div>
  </body>
</html>
